<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pulingle.moment_service.mapper.CommentMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="commentId" parameterType="Comment">
    INSERT INTO comment(user_id,moment_id,create_time,content)
    VALUES (#{userId},#{momentId},#{createTime},#{content})
  </insert>
    <select id="countCommentByCIL" resultType="java.lang.Long">
        SELECT COUNT(comment_id) FROM comment
        WHERE comment_id IN
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="queryCommentByCIL" resultType="java.util.Map">
        SELECT comment_id AS commentId,user_id AS userId,DATE_FORMAT(create_time,'%Y-%m-%d %h:%m:%s') AS createTime,content FROM comment
        WHERE comment_id IN
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        ORDER BY comment_id DESC
        limit #{offset},#{size}
    </select>
</mapper>